<% @groups.each do |group| %>
    <%= link_to group_path(group) do %>
        <div class="group-box">
            <div class="group-box__icon">
              
            </div>
            <div class="group-box__name">
                <%= group.name %>
            </div>
            <div class="group-box__amount">
            <%= Item.where(group: group).sum(:amount) %>
            </div>
        </div>
    <% end %>
<% end %>
<%= link_to "New Group", new_group_path %>

